<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"></style>"
	<title>Index</title>
</head>
<body>
	<h1>Welcome to the SongAPI!</h1>
	<div>
		<p>
			This database has been built from 'songs.json', </br>
			from the entries that passed the model check. Available routes are: </br>
			'/get_all_songs', '/get_difficulty_level', '/search_songs', '/add_song_rating' and '/get_song_rating'.
		</p>
	</div>
	
</body>
</html>